<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sergey Mouzykin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-715VMUUaOfZR3/rWXZJ9agJ/udwSXGEigabzUbJm2NR4/v5wpDy8c14yedZN6NL7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
		<h1>{{ author }}</h1>      
		<p>Data Science Portfolio</p>
	
		<a href="https://sergatron.github.io/" class="btn btn-info" role="button">Home</a>
		<a href="https://github.com/sergatron/Portfolio/blob/master/Sergey_Mouzykin_Resume.pdf" class="btn btn-info" role="button">Resume</a>
		
	  </div>
	</div>

		<div class="container container-fluid" style="margin-top:0">
		  <div class="row">
				<div class="col-sm-3">
					<!--Photo and About Me Column-->   
					<h2>About Me</h2>
					<div class="img"><img src="assets/me_200.jpg" alt="my_face" class="img-fluid mb-4 ml-2"></div>
					<p>Data Science | ML | Python Student of Life</p>
					  
				  <h3>Contact</h3>
				  <p>Feel free to contact or follow.</p>
						<div id="follow-me" class="mt-2">
							<!--social media buttons column-->     
							<a href="#">
								<img src="assets/linkedinlogo_75.png" alt="linkedin" class="img-fluid mb-4 ml-2">
							</a>
							
							<a href="https://github.com/sergatron">
								<img src="assets/githublogo_75.png" alt="github" class="img-fluid mb-4 ml-2">
							</a>
							
							<a href="mailto:smouzykin@gmail.com">
								<img src="assets/email_logo_75.png" alt="github" class="img-fluid mb-4 ml-2">
							</a>
					</div>
				  <hr class="d-sm-none">
				</div>
				
				<div class="col-sm-8">
				  {{ content }}
				  
				</div>
		  </div>
		</div>
		

<div class="container text-center" style="margin-top:100">

	<footer>
		<div class="col-sm-12">
			<ul>
				<div class="mx-auto" style="width:200px"><h5>Contact</h5></div>
					<h6>
						<a href="mailto:smouzykin@gmail.com">E-Mail</a> | 
						<a href="https://www.linkedin.com/in/sergey-mouzykin-bb144778/">LinkedIn</a> | 
						<a href="https://github.com/sergatron">GitHub</a> | 
						<a href="https://medium.com/@smouzykin">Medium</a>
					</h6>
			</ul>
		</div>
		
		<div class="col-sm-12">
			<ul>
				<div class="mx-auto">
					<p>
						This website was made using <a href="https://pages.github.com/">GitHub Pages</a>. You can view this page on <a href="https://github.com/sergatron/sergatron.github.io">GitHub.</a>
					</p>
				</div>
			</ul>
		</div>

	</footer>
	
</div>

</body>

</html>
